@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-white bg-gray-900;
  }
  body {
    @apply justify-center text-center align-middle;
  }
  
  
}
@layer components {
 input {
   @apply text-black;
 } 
}

#logo {
  text-shadow: 0px 0px 7px white;
}
.keania-one-regular {
  font-family: "Keania One", sans-serif;
  font-weight: 400;
  font-style: normal;
}